*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*html, body {*/
/*    height: 100%;*/
/*}*/

/*.wrapper {*/
/*    min-height: 100%;*/
/*}*/

.content-wrap {
    height: fit-content;
}
/*------------------- background ------------------------*/
.background-container{
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #696969 1px, rgba(0, 0, 0, 0) 1px);
    position: relative;
    font-family: 'Titillium Web', sans-serif;

    /*padding-bottom: 348px;*/
}

/*------------------- nav ------------------------*/
nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
    
}
.fa-solid  {
    display: none;
}
/*------------------- main ------------------------*/
main {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #696969 1px, rgba(0, 0, 0, 0) 1px);
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;

}
    .title{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        margin-bottom: 100px;
        padding-top: 100px;
    }

    .grid-ish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr .3fr;
        grid-template-areas:
            "spotify discord"
            "tracker idk";
        grid-gap: 3rem;
        margin: auto;
        width: 50%;
        padding-bottom: 348px;
        min-height: fit-content;
    }

    .spotify {
        grid-area: spotify;
        background: #e9d138;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
    }
    .spotify h2{
        font-weight: 700;
        text-align: left;
        margin-bottom: 30px;
    }
    .discord {
        grid-area: discord;
        background: #e9d138;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
    }
    .discord h2{
        font-weight: 700;
        text-align: left;
        margin-bottom: 30px;
    }
    .tracker {
        grid-area: tracker;
        background: #e9d138;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
    }
    .tracker h2{
        font-weight: 700;
        text-align: left;
        margin-bottom: 30px;
    }
    .idk {
        grid-area: idk;
        background: #e9d138;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
    }
    .idk h2{
        font-weight: 700;
        text-align: left;
        margin-bottom: 30px;
    }
    
@media(max-width: 700px){
    /*------ display none ------*/

    /*------ nav ------*/
    nav img {
        display: none;
    }
    .nav-links ul li{
        display: block;
    }
    html, body {
        /*still dunno how this solves my overflow*/
        /*but oh well*/
        overflow-x:hidden;
    }
    .nav-links{
        position: absolute;
        background: #e9d138;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
        z-index: 2;
    }
    nav .fa-xmark{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa-bars{
        display: block;
        color: black;
        margin: 38px 20px 0 0;
        font-size: 30px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
        
    }
    /*------ main ------*/
    .title {
        margin-bottom: 50px;
        padding-top: 30px;
    }
    .grid-ish {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .3fr;
        grid-template-areas:
            "spotify"
            "discord"
            "tracker"
            "idk";
        width: 80%;
        padding-bottom: 50px;
    }
}
@media(max-width: 1000px){
    /*------ display none ------*/
    
    /*------ main ------*/
        .title {
        margin-bottom: 50px;
        padding-top: 30px;
    }
    .grid-ish {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .3fr .3fr;
        grid-template-areas:
            "spotify discord"
            "tracker idk";
        width: 80%;
        padding-bottom: 50px;
    }
    
}
/*------------------- footer ------------------------*/

.footer-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    background-size: 40px 40px;
    /*background-color: gray;*/
    background-image: radial-gradient(circle, #696969 1px, rgba(0, 0, 0, 0) 1px);
    display: flex;
    /*margin-top: -348px;*/
    /*clear: both;*/
}
.footer{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.footer1{
    padding-top: 6rem;
}
.footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.footer2 a{
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    transition: .5s;
}
.footer2 a:hover{
    transform: translate(0, -5px);
}
.footer3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0;

}
.footer3 a{
    margin: 0 2rem;
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition: .5s;
}
.footer3 a:hover{
    transform: translate(0, -5px);
}
@media(max-width: 700px){
    .footer1{
        padding-top: 30px;
    }
    .footer3{
        margin: 2rem 0 0;

    }
}